/**
 * Global StyleSheet
 *
 * Copyright (c) 2013 Ryan Tse.
 *
 * NOTICE: If you add or change code in this file, add your name to
 * the copyright information above.
 */

html {
	overflow-y: scroll;
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar .navbar-inner {
	border-radius: 0 !important;
}

.container h1 {
	padding-top: 20px;
}