/**
 * Index Stylesheet
 *
 * Copyright (c) 2013 Krish Masand, Ryan Tse.
 *
 * NOTICE: If you add or change code in this file, add your name to
 * the copyright information above.
 */

.navbar {
	margin-bottom: 0px !important;
}

.navbar .navbar-inner {
	border-radius: 0 !important;
}

@media (min-width: 851px) {
	.hero-unit {
	padding: 0 !important;
	padding-left: 10px !important;
	background-image: url("/static/img/index2.png") !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-color: black !important;
	background-position:right bottom;
	color: #fff !important;
	height: 400px;
	border-radius: 0 !important;
	}
}
	
@media (max-width: 850px) {
	.hero-unit {
	padding: 0 !important;
	padding-left: 10px !important;
	background-image: url("/static/img/index3.png") !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-color: black !important;
	background-position: center;
	color: #fff !important;
	height: 400px;
	border-radius: 0 !important;
	}
}

.hero-unit h1 {
	padding-top: 40px !important;
}

.footer {
	margin-top: 30px !important;
}

@media (max-width: 480px) {
	.hero-unit {
		height: 300px !important;
		background-color: black !important;
	}

	.hero-unit h1 {
		font-size: 30px !important;
	}

	.hero-unit .btn {
		padding-left: 30px;
	}
}

@-webkit-keyframes joinButton {
	from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
	50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
	to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}

@-moz-keyframes joinButton {
	from { box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
	50% {  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 25px rgba(0,68,204,.9); }
	to {   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.5); }
}

.hero-unit .btn {
	padding: 14px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #fff;
	border: 0;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01);
	-webkit-animation-name: joinButton;
		-moz-animation-name: joinButton;
	-webkit-animation-duration: 1.5s;
		-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	-webkit-transition: none;
		-moz-transition: none;
		transition: none;

}

.hero-unit .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

#participate_button {
	padding-top: 20px;
}