/**
 * Registration Info Stylesheet
 *
 * Copyright (c) 2013 Ryan Tse.
 *
 * NOTICE: If you add or change code in this file, add your name to
 * the copyright information above.
 */

.form-horizontal .control-group {
	margin-bottom: 8px !important;
}

@media (min-width: 768px) and (max-width: 979px) {
	.form-horizontal .control-label {
		width: 100px !important;
	}

	.form-horizontal .controls {
		margin-left: 110px !important;
	}
}

#billing_same, #tos_agreement {
	margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: textfield;
	margin: 0;
}​