/**
 * Registration Info Stylesheet
 *
 * Copyright (c) 2013 Ryan Tse.
 *
 * NOTICE: If you add or change code in this file, add your name to
 * the copyright information above.
 */

#select_seating {
	position: relative;
	width: 100%;
}

#select_section {
	position: relative;
	width: 100%;
}

#select_seating_back {
	display: none;
}

#first_instruction {
	display: none;
}

#second_instruction {
	display: none;
}

.section {
	background-color: gray;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	float: left;
	font-size: 1em;
	overflow: visible;
	white-space: nowrap;
	line-height: normal;
	text-align: center;
	color: white;
}

.seat {
	background-color: gray;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	float: left;
	font-size: 1em;
	overflow: visible;
	white-space: nowrap;
	line-height: normal;
	text-align: center;
	color: white;
}

.available {
	background-color: rgb(200,200,200);
}

.reserved {
	background-color: rgb(255, 0, 0);
}

.selectable {
	cursor: pointer;
}

.selected {
	background-color: yellow !important;
	color: black;
}

.btn-primary{
	margin-bottom:10px !important; 
}
